{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="{% static "accounts/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<div class="container" style="margin: 3rem auto;width: 40%;border-radius: 2rem">
    <form method="POST">{% csrf_token %}
        <div class="mb-3">
            <label class="form-label" style="font-size: 1rem;font-weight: 300">Old password</label>
            <input type="password" class="form-control" name="old_password" maxlength="100" style="font-size: 1rem;font-weight: 300">
            {% if form.old_password.errors %}
                <div class="alert alert-warning" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    {{ form.old_password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 1rem;font-weight: 300">New password</label>
            <input type="password" class="form-control" name="new_password" maxlength="100" style="margin: 0 auto;font-size: 1rem;font-weight: 300">
            {% if form.new_password.errors %}
                <div class="alert alert-warning" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    {{ form.new_password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 1rem;font-weight: 300">Repeat password</label>
            <input type="password" class="form-control" name="repeat_password" maxlength="100" style="margin: 0 auto;font-size: 1rem;font-weight: 300">
            {% if form.repeat_password.errors %}
                <div class="alert alert-warning" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    {{ form.repeat_password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Update</button>
            <a class="btn btn-secondary " href="{% url "accounts:profile" %}">Back</a>
        </div>
        {% if update %}
            <div class="alert alert-success" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    Password updated
            </div>
        {% endif %}
    </form>
</div>
</body>
</html>