{% load static %}
{% get_media_prefix as media %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="{% static "accounts/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<div class="container-lg d-grid gap-2 d-md-flex justify-content-md-center">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="mb-3">
            <img src="{{ media }}{{ user.profile.image }}" alt="profile" style="border-radius: 50%;border: 0.01px solid;width: 10rem;height: 10rem;margin: 10px"/>
            <input type="file" class="form-control" name="image" style="font-size: 1rem;font-weight: 300">
            {% if form.image.errors %}
                <div class="alert alert-warning" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    {{ form.image.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 1rem;font-weight: 300">Firstname</label>
            <input type="text" class="form-control" name="first_name" maxlength="20" value="{{ user.first_name }}" style="margin: 0 auto;font-size: 1rem;font-weight: 300">
            {% if form.first_name.errors %}
                <div class="alert alert-warning" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    {{ form.first_name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Update</button>
            <a class="btn btn-secondary " href="{% url "accounts:change_password" %}">ChangePassword</a>
        </div>
        {% if update %}
            <div class="alert alert-success" style="margin: 5px auto;font-size: 1rem;font-weight: 300">
                    Profile updated
            </div>
        {% endif %}
    </form>
</div>
</body>
</html>